* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
  }
  
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    z-index: 10;
  }
  
  .Logo {
    width: 100px;
    height: 100%;
  }
  
  .brand__logo {
    width: 100%;
    height: 100%;
  }
  
  .language__drop__down {
    background: transparent;
    border: none;
    color: white;
  }
  
  .dropdown__container {
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    width: 120px;
  }
  
  .but{
    margin-left: 20px;
  }

  .signin__button {
    background-color: #dc030f;
    border: 1px solid #dc030f;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    height: 35px;
    width: 65px;
  }
  .navbar__nav__items {
    display: flex;
  }
  .hee{
    display: flex;
    justify-content: center;
  }
  .main-container {
    width: 100%;
    height: 80vh;
   
  }
  
  .hero__bg__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-wrap: wrap;

  }
  
  .overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 80vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }
  
  .hero__card {
    position: absolute;
    top: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;

    gap: 10px;
    flex-wrap:wrap;

  }
  
  .hero__title {
    font-weight: 600;
    font-size: 4rem;
  }
  
  .hero__subtitle{
    font-weight: 400;
    font-size: 1.5rem;
  }
  .hero__description {
    font-weight: 400;
    font-size: 1rem;
  }
  
  .hero__description {
    margin: 0 50px;
  }
  
  .email__input {
    border: none;
    background: transparent;
    width: 80%;
    height: 100%;
    padding-left: 7px;
  }
  .email__label {
    color: black;
    position: absolute;
    top: 28%;
    left: 2%;
    color: rgb(153, 149, 149);
    transition: 0.5s;
  }
  
  .email__form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 800px;
    margin-top: 20px;
  }
  .email__form__container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 800px;
    margin-top: 20px;
  }
  
  .form__container {
    background-color: white;
    width: 90%;
    height: 70px;
    position: relative;
  }
  .ad{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
 
  .primary__button {
    background-color: #dc030f;
    border: 1px solid #dc030f;
    color: white;
    border-radius: 2px;
    font-size: 30px;
    letter-spacing: 1px;
    width: 250px;
    height: 70px;
  }
  
  .feature {
    border-top: 8px solid #222;
    padding: 2rem 1rem;
    display: flex;
    justify-content:center;
    height: 480px;
  }
  .typea{
    display: flex;
  }
  .typeb{
    display: flex;
  }
  .typeab{
  }
  .feature__details {
    width: 600px;
    padding-top: 50px ;
  }
  
  .feature__title {
    font-size: 50px;
    font-weight: 600;
    margin: 10px 0;
  }
  
  .feature__sub__title {
    font-size: 25px;
    font-weight: 400;
  }
  
  .feature__image__container {
    height: 400px;
  }

  .feature__image {
    width: 530px;
    height: 400px;

  }
   
  .feature__details2 {
    width: 600px;
    padding-top: 70px ;
  }
  
  .feature__title2 {
    font-size: 50px;
    font-weight: 600;
    margin: 10px 0;
  }
  
  .feature__sub__title2 {
    font-size: 25px;
    font-weight: 400;
  }
  
  .feature__image__container2 {
    position: relative;
    height: 400px;
  }
  .feature__2__poster__container {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 270px;
    max-width: 16em;
    display: flex;
    align-items: center;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    height: 60px;
    padding: 0.25rem 0.6rem;
    gap: 15px;
  }
  
  .poster__container {
    width: 20%;
  }
  
  .poster {
    width: 100%;
    height: 100%;
  }

  .poster__details {
    width: 60%;
  }
 
  
  .download__gif__container {
    width: 20%;
    height: 100%;
  }
  .gif {
    width: 100%;
    height: 100%;
  }
  
  .FAQ__accordian {
    width: 800px;
    height: 100%;
  }
  .FAQ__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 28px;
    font-weight: 400;
    background-color: #303030;
    border: 1px solid #303030;
    color: white;
  }
  

  .FAQ__visible {
    background-color: #303030;
    border-top: 1px solid black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  
  .FAQ__list__container {
    border-top: 8px solid #222;
    padding: 2rem 0;
  }
  .FAQ__heading {
    font-size: 45px;
    text-align: center;
    font-weight: 600;
    margin: 1rem 3rem;
  }
  
  .FAQ__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .FAQ__get__started__email {
    margin-top: 40px;
    text-align: center;
  }
  
  footer {
    border-top: 8px solid #333;
    padding: 2rem 1rem;
    color: #757575;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 800px;
  }
  
  .footer__row__2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    font-size: 15px;
  }
  