* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
    font-family: "Poppins", sans-serif;
  }
  
  .navbar {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    z-index: 10;
    border-bottom: 1px;
    border-top: 1px;
    border-color: rgb(3, 3, 3);
  }
  
  .Logo {
    width: 140px;
    height: 100%;
  }
  
  .brand__logo {
    width: 100%;
    height: 100%;
  }
  
  .container{
    margin-left: 20%;
    margin-right: 20%;
  }

.container-head{
   
    width: 800px;
    height: 40px;
}

.description {
    font-weight: 400;
    font-size: 20px;
  }
.threebox{
    margin-top: 30px;
    margin-left: 470px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}
  .basic{
      width: 120px;
      height: 120px;
      background-color: red;
      color:white;
      text-align: center;
      padding-top: 45px;
      font-size: 20px;
      font-weight: bold;
  }
  .standard{
    width: 120px;
    height: 120px;
    background-color: red;
    color:white;
    text-align: center;
    padding-top: 45px;
    font-size: 20px;
    font-weight: bold;
  }
  .pre{
    width: 120px;
    height: 120px;
    background-color: red;
    color:white;
    text-align: center;
    padding-top: 45px;
    font-size: 20px;
    font-weight: bold;
  }
  
  footer {
    padding: 2rem 1rem;
    color: #757575;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  .footer__row__2 {
    display: flex;
    flex-wrap: wrap;
    
    gap: 20px;
    font-size: 15px;
  }
  .language__drop__down {
    background: white;
    border: none;
    color: black;
  }
  .dropdown__container {
    border: 1px solid black;
    padding: 0.4rem;
    background: white;
    width: 180px;
    height: 45px;
    margin-left: 5%;
  }

td{
  border-style: ridge;
  border-top: white;
  border-left: white;
  border-right: white;
}

 .fir{
    width: 15%;
    height: 50px;
 }
 .sec{
   width: 10%;
   text-align: center;
 }

 .desc{
   font-size: 13px;
   margin-left: 20%;
   margin-top: 2%;
 }
 .next{
   margin-top: 20px;
   margin-left: 20%;
   margin-bottom: 10%;
   width: 440px;
   height: 64px;
   font-size: 30px;
   background-color: red;
   color:white;
   border: white;
 }

 footer{
   background-color: #d8d6d6;
 }

 .column__1{
   margin-left: 5%;
   margin-right: 10%;
 }
 .column__2{
  margin-right: 10%;
}
.column__3{
  margin-right: 10%;
  margin-top: 10;
}
.column__4{
  margin-right: 10%;
}
.footer__row__1{
  margin-left: 5%;

}